In [ ]:
customers = ['Adam Smith', 'Mary Samsonite', 'Pancho Sanchez', 'Lily Wang', 'Curtis Jackson', 'Anne Shirley', 'Alex Hamilton', 'Bill Shakespeare', 'Steve Sondeheim']

In [ ]:
c = 'Adam Smith'

In [ ]:
' ' in c

True

In [ ]:
len(c.split())

2

In [ ]:
for c in customers: 
    if ' ' in c:
        print(c)

Adam Smith
Mary Samsonite
Pancho Sanchez
Lily Wang
Curtis Jackson
Anne Shirley
Alex Hamilton
Bill Shakespeare
Steve Sondeheim

In [ ]:
acustomers = [c for c in customers if c[0]=='A']

In [ ]:
acustomers

['Adam Smith', 'Anne Shirley', 'Alex Hamilton']

In [ ]:
def breakevenprice(FC, MC, Q):
    P = FC/Q + MC
    return P

In [ ]:
Quantities = [500,1000,1500,2000,2500,3000]
FC = 20000
MC = 20

In [ ]:
BEPrices = []

In [ ]:
for Q in Quantities:
    P = breakevenprice(FC,MC,Q)
    BEPrices.append(P)

In [ ]:
print("Break Even Prices are:",BEPrices)

Break Even Prices are: [60.0, 40.0, 33.333333333333336, 30.0, 28.0, 26.666666666666668]

In [ ]:
def offer(record):
  ID=record[0]
  Income=record[1]
  Debt=record[2]
  Married=record[3]
  if (Income>=(2*Debt)):
    return "A"
  elif ((Income<=(2*Debt)) and (Income>=(0.5*Debt)) and (Married==1)):
    return "B"
  else:
    return "None"

In [ ]:
leads=[(1,25000,12000,1),(2,50000,25000,0),(3,125000,200000,0),(4,25000,0,0),(5,30000,8000,1)]

In [ ]:
for i in range(len(leads)):
  print(offer(leads[i]))

A
A
None
A
A