**Rationale** Hypothesis testing is foundational to the entire field of statistics. Without the Central Limit Theorem and hypothesis testing, we would not have modern day (social) science. In marketing, this is generally most important when doing A/B testing of ads. In this assignment, you will practice computing basic summary statistics and conducting hypothesis tests. 

[Datasets](https://drive.google.com/drive/folders/1D6D-zRU3oiP12c0dFMQjs66JDhBZBtax?usp=sharing) required:
1. [FB ad campaign data](https://drive.google.com/file/d/1JfwvumxS2oys8ZcQtsb8GGmeRfnkzFdy/view?usp=sharing).
1. [Starbucks Promos](https://drive.google.com/file/d/1W7x5_PU5KszT8mqXqqEmRfXuR8CRr1DX/view?usp=sharing)

# 1. (2 points) FB Ad campaigns

1. Use a groupby operation create a dataframe called `sumstats` consisting of the total impressions and clicks for each `xyz_campaign_id`.
1. Using `sumstats`, create a new column called `ctr` that represents the [click through rate](https://support.google.com/google-ads/answer/2615875?hl=en) for each campaign. Which campaign had the highest CTR?
1. Create a column for `sd` for standard deviation of the click through rate. 

Hint: Recall from the notes that the standard deviation of a binomial distribution with $Pr(Success) = p$ is $SD(p) = \sqrt{p(1-p)}$. So if the probability of a binary outcome (such as clicking on an ad) is observed to be .3, the standard deviation is $\sqrt{.3(.7)}=\sqrt{.21}$.

In [ ]:
# imports and mount google drive
import os, pandas as pd, numpy as np
from scipy import stats

from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
import os, pandas as pd, numpy as np
from google.colab import drive

In [ ]:
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
fpath = 'drive/My Drive/MKTG 3509/'

In [ ]:
os.listdir('drive/MyDrive/MKTG 3509/')

['Module 1.ipynb',
 'Assignment 1',
 'A1 Tyler Sunday.ipynb',
 'module 2.ipynb',
 'A2 Tyler Sunday.ipynb',
 'Copy of Copy of avocado.xlsx',
 'Copy of avocado.json',
 'avocado.csv',
 'Colab',
 'movies.csv',
 'ratings_time.csv',
 'renttherunway_final_data.json',
 'telecom_churn.csv',
 'facebook_ads.csv',
 'starbucks_promos.csv',
 'starbucks_promos.gsheet',
 'Tyler_Sunday_A4_Visualization.ipynb',
 'Module 3.ipynb',
 'Tyler_Sunday_A5 F2021 Stats Review.ipynb']

In [ ]:
fb = pd.read_csv(fpath + 'facebook_ads.csv')

In [ ]:
fb.head()

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [ ]:
sumstats = fb.groupby('xyz_campaign_id')[['Impressions', 'Clicks']].head().reset_index()

In [ ]:
sumstats["ctr"] = fb["Clicks"] / fb["Impressions"]

In [ ]:
sumstats

    index  Impressions  Clicks       ctr    ctr_sd
0       0         7350       1  0.000136  0.000097
1       1        17861       2  0.000112  0.000097
2       2          693       0  0.000000  0.000097
3       3         4259       1  0.000235  0.000097
4       4         4133       1  0.000242  0.000097
5      54         1772       0  0.000000  0.000097
6      55        13329       4  0.000192  0.000097
7      56        13659       3  0.000091  0.000097
8      57          739       0  0.000425  0.000097
9      58          605       0  0.000316  0.000097
10    518      1194718     141  0.000000  0.000097
11    519       637648      67  0.000000  0.000097
12    520        24362       0  0.000000  0.000097
13    521       459690      50  0.000000  0.000097
14    522       750060      86  0.000477  0.000097

In [ ]:
# take a look at the whole sumstats dataframe

In [ ]:
sumstats["ctr_sd"] = sumstats["ctr"].std(ddof = 0)

In [ ]:
sumstats

    index  Impressions  Clicks       ctr    ctr_sd
0       0         7350       1  0.000136  0.000157
1       1        17861       2  0.000112  0.000157
2       2          693       0  0.000000  0.000157
3       3         4259       1  0.000235  0.000157
4       4         4133       1  0.000242  0.000157
5      54         1772       0  0.000000  0.000157
6      55        13329       4  0.000192  0.000157
7      56        13659       3  0.000091  0.000157
8      57          739       0  0.000425  0.000157
9      58          605       0  0.000316  0.000157
10    518      1194718     141  0.000000  0.000157
11    519       637648      67  0.000000  0.000157
12    520        24362       0  0.000000  0.000157
13    521       459690      50  0.000000  0.000157
14    522       750060      86  0.000477  0.000157

In [ ]:
sumstats.mean()

index             192.666667
Impressions    208725.200000
Clicks             23.733333
ctr                 0.000148
ctr_sd              0.000157
dtype: float64

## Answer (edit this cell)
The campaign with the highest CTR is: **____14___________**

# 2. (4 points) Hypothesis testing and confidence intervals

1. Compute the 95% confidence interval for the CTR for each campaign. Compare the confidence intervals of campaign 916 and 936. What can you conclude about the relative perfrmance of the 2 ads in the population (e.g. are they very different, similar, etc.)? How about 916 vs. 1178?
1. Was campaign 936 statistically different compared to campaign 916? How about 936 vs. 1178? Use the `ttest_2sample` function from the notes. Remember, you must define it in your Colab session in order to use it (execute the cell w/ the function).

Given these statistical tests what would you recommend in terms of allocation of the ad budget?

In [ ]:
mean = sumstats[""]

In [ ]:
# use stats.norm.ppf([.025, .975], mean, std error)
# where mean is sample mean and std error is std dev / sqrt(obs) (from Central Limit Theorem)

# confidence interval for ad 916

In [ ]:
# confidence interval for ad 936

In [ ]:
# confidence interval for ad 1178

**Edit this cell**

1. (write 1-2 sentences to compare the confidence interval of 916 vs 936's CTR)
1. (write 1-2 sentences to compare the confidence interval of 916 vs 1178's CTR)

In [ ]:
# Use this custom funciton

def ttest_2sample(m1,sd1,N1,m2,sd2,N2, twotail = True, equalvar = False):
    """
    This function requires you tu supply:
    m1: mean of sample 1
    sd1: std. dev of sample 1
    N1: number of obs of sample 1
    m2: mean of sample 2
    sd2: std dev of sample 2
    N2: number of obs of sample 2

    Optional inputs:
    twotail = True (default) / False. If False, then 1 tail
    equalvar = True / False (default). If True, assumes equal population variance.
    """

    # The difference between equal and unequal variance is only in how to compute
    # the test statistic and degree of freedom.
    if equalvar:
        spsquare = ((N1-1)*sd1**2+(N2-1)*sd2**2)/(N1+N2-2) 
        T = (m1-m2)/np.sqrt(spsquare*(1/N1+1/N2))
        nu = N1+N2-2
    else:
        nu = (sd1**2/N1+sd2**2/N2)**2/((sd1**2/N1)**2/(N1-1)+(sd2**2/N2)**2/(N2-1)) # new degree of freedom
        T = (m1-m2)/(np.sqrt(sd1**2/N1+sd2**2/N2))
    
    # If the first mean is bigger, we need to do 1- cdf
    # Otherwise just compute cdf
    if m1>m2:
        pval = 1-stats.t.cdf(T, df = nu)
    else:
        pval = stats.t.cdf(T, df = nu)

    # return p values
    # If 2 tail, we must multiply by 2
    # otherwise we just return the computed pval
    if twotail == True:
        return pval*2
    else:
        return pval

In [ ]:
# run a 2 tail 2 sample t-test to compare the population CTRs for 936 and 916

In [ ]:
# run a 2 tail 2 sample t-test to compare the population CTRs for 936 and 1178

**Edit this cell to answer**

(Write a few sentences to describe how to proceed with the allocation of the ad budget going forward. Be sure to use the 2 tail t-tests above to support your strategy)

# 3. (4 points)

Using the Starbucks dataset, conduct an appropriate statistical test to determine:
1. Is there any statistically appreciable difference in the redemption rates of BOGO vs. Discount promotions?
1. Among those who redeemed an offer and reported their income, is there any statistical difference in the average income associated with BOGO vs. discount redemptions? Note that not every observation reports income (select only the observations that do).

In [ ]:
sb = pd.read_csv(fpath + 'starbucks_promos.csv', index_col = 0)

In [ ]:
sb.head()

                                uid           event  ...  redeem_time redeemed
1  0020c2b971eb4e9188eac86d93036a77  offer received  ...         54.0        1
4  005500a7188546ff8a767329a2f7c76a  offer received  ...          NaN        0
5  0056df74b63b4298809f0b375a304cf4  offer received  ...        132.0        1
6  00715b6e55c3431cb56ff7307eb19675  offer received  ...         12.0        1
8  00840a2ca5d2408e982d56544dc14ffd  offer received  ...        540.0        1

[5 rows x 17 columns]

In [ ]:
disc = disco

In [ ]:
# select the redemed column for discount offers, name this data the variable disc

In [ ]:
# select the redemed column for buy one get one (bogo) offers, name this data the variable bogo

In [ ]:
# use stats.ttest_ind to test whether the 2 types of offers yield different redemption rates

In [ ]:
# Select the income column for those who redeemed the BOGO offer, call this the variable bogo_income
# note you need to use 3 condtitions for the row selection: one for redeemed, one for bogo offer, and one for income is not missing
# FYI: dataframe.somecolumn.notnull() is the Boolean evaluation for whether the somecolumn is not missing data

In [ ]:
# Select the income column for those who redeemed the discount offer, call this the variable disc_income
# note you need to use 3 condtitions for the row selection: one for redeemed, one for discount offer,  and one for income is not missing
# FYI: dataframe.somecolumn.notnull() is the Boolean evaluation for whether the somecolumn is not missing data

In [ ]:
# What is the average income for bogo redeemers (bogo_income.mean())?

In [ ]:
# What is the average income for discount redeemers?

In [ ]:
# use stats.ttest_ind to test whether the average income of the redeemers of the 2 offer types are different

**Edit this cell**
1. (Write a sentence to describe the relative redemption rates of the 2 offer types based on the result of the t-test).
1. (Write a sentence to describe the relative incomes of the redeemers of the 2 offer types based on the result of the t-test).